
*.asv

notes/notes\.aux

notes/notes\.log

notes/notes\.synctex\.gz

test/test_MAS\.bak

*.aux

*.log

ausarbeitung/proj2\.synctex\.gz

ausarbeitung/proj2\.toc

ausarbeitung/proj2\.out

ausarbeitung/plots/A/vieleSinuse-eps-converted-to\.pdf

ausarbeitung/plots/A/vieleSinuse_Schrittweiten-eps-converted-to\.pdf
