
*.asv

notes/notes\.aux

notes/notes\.log

notes/notes\.synctex\.gz

test/test_MAS\.bak

*.aux

*.log

ausarbeitung/proj2\.synctex\.gz

ausarbeitung/proj2\.toc

ausarbeitung/proj2\.out
